MolluskEngine/Content/obj/*
MolluskEngine/bin/*
MolluskEngine/obj/*
JsonPipeline/bin/*
JsonPipeline/obj/*
JsonPipelineExtension/bin/*
JsonPipelineExtension/obj/*
MolluskEditor/bin/*
MolluskEditor/obj/*